[Desktop Entry]
Version=2.2
Type=Application
Name=Gerenciador CS
Categories=Development
Exec=gerenciadorcs
Icon=${SNAP}/meta/gui/gerenciadorcs.png
Keywords=Security;Keymanager
