[Desktop Entry]
Version=4.0
Type=Application
Name=Gerenciador CS
Categories=Utility
Exec=gerenciadorcs
Icon=${SNAP}/meta/gui/gerenciadorcs.png
Keywords=Security;Keymanager
